*{
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  display: block;
  cursor: pointer;
}

a:hover{
  opacity: 0.7;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}

h2{
  text-align: center;
  font-family: serif;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
  margin-bottom: 30px;
}

@media(min-width: 700px){
  .colmun{
    display: flex;
    justify-content: space-between;
  }
}

.black_screen{
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}

/*------------------------------------------ 
            headerここから
------------------------------------------ */

header{
  color: #fff;
  width: 100%;
  height: 70px;
  display: flex;
  background-color: #60BFBF;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
}

h1 a{
  background: url(images/logo.jpg)no-repeat;
  background-size: cover;
  width: 60px;
  height: 60px;
  margin: 5px;
}

header form{
  display: flex;
  border: 1px solid rgb(135, 133, 133);
  border-radius: 5px;
  width: 230px;
  height: 24px;
  background-color: #fff;
  margin-top: 20px;
  padding: 3px;
}

header form input:focus{
  outline: none;
}

#search_word{
  font-size: 17px;
  width: 173px;
  border: none;
}

#search_btn,#search_reset_btn{
  width: 24px;
  height: 24px;
  font-size: 24px;
  color: rgb(135, 133, 133);
  border: none;
  margin-left: 2px;
  background: none;
}

#search_btn:hover,#search_reset_btn:hover{
  cursor: pointer;
}

#humberger{
  margin-top: 10px;
  width: 30px;
  height: 26px;
  padding: 12px 10px;
}

@media(min-width: 900px){
  #humberger{
    display: none;
  }
}

#humberger:hover{
  cursor: pointer;
  opacity: .9;
}

#humberger span{
  height: 2px;
  width: 30px;
  background-color: #fff;
  display: block;
}

#humberger span:nth-child(2){
  margin-top: 10px;
}

#humberger span:nth-child(3){
  margin-top: 10px;
}

nav ul{
  display: none;
  margin-top: 10px;
}

@media(min-width: 900px){
  nav ul{
    display: flex;
  }
}

nav ul li a{
  font-weight: bold;
  text-align: center;
  width: 80px;
  padding: 10px 15px;
  color: #fff;
  border: 1px solid #fff;
  font-size: 18px;
  margin-left: 15px;
}

/*------------------------------------------ 
            wrapperここから
------------------------------------------ */

@media (min-width: 1100px){
  #wrapper{
    width: calc(100vw - 200px);
    margin: 0 auto;
  }
}

/*------------------------------------------ 
            main_imgここから
------------------------------------------ */

#main_img{
  background-image: url(images/main.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  margin: 70px 0 50px;
}

#main_img div{
  height: 400px;
}

#top_message{
  padding-top: 40px;
}
@media (min-width: 770px){
  #top_message{
    padding-top: 100px;
    margin-left: 350px;
  }
}

#top_message h2{
  text-align: center;
}

#top_message p{
  padding: 10px 80px 40px;
  overflow: hidden;
}

/*------------------------------------------ 
            newsここから
------------------------------------------ */

@media(max-width: 700px){
  #news{
    margin:0 auto;
  }
}

#news{
  width: 300px;
  height: auto;
  margin-bottom: 50px;
}

#news ul li a time{
  font-size: 5px;
}

#news ul li a p{
  font-size: 18px;
  margin: 0 10px;
}

/*------------------------------------------ 
            gallaryここから
------------------------------------------ */

@media(max-width: 700px){
  #gallary{
    margin:0 auto;
  }
}

#gallary{
  width: calc(100% - 350px);
  height: auto;
  margin-bottom: 50px;
}

#gallary ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#gallary ul li{
  margin: 0 15px 15px 0;
}

#gallary ul li a img{
  width: 250px;
  height: 350px;
  object-fit: cover;
  object-position: top;
}

#gallary ul li p{
  color: black;
}

/*------------------------------------------ 
            aboutここから
------------------------------------------ */

#about{
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

#profile_img{
  background-image: url(images/profile.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin:0 auto;
}

@media(min-width: 700px){
  #profile_img{
    margin: auto 50px;
  }
}

@media(max-width: 700px){
  #profile_img + div h3{
    text-align: center;
    margin-top: 10px;
  }
}

#profile_img + div p{
  padding: 30px 50px;
}

#profile_img + div ul{
  display: flex;
}

@media(max-width: 700px){
  #profile_img + div ul{
    justify-content: space-between;
    margin: 20px 150px;
  }
}

#profile_img + div ul li a{
  color: gray;
  font-size: 30px;
  margin-right: 15px;
}

#profile_img + div ul li a:hover{
  box-shadow: none;
}

/*------------------------------------------ 
            contactここから
------------------------------------------ */

#contact{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(208, 205, 205);
  margin-bottom: 60px;
}

label, input, textarea{
  display: block;
  font-size: 22px;
}

#contact form input{
  width: 280px;
  margin-bottom: 15px;
}

@media(min-width: 700px){
  #contact form input{
    width: 600px;
  }
}

#contact form textarea{
  width: 280px;
  height: 400px;
  margin-bottom: 15px;
}

@media(min-width: 700px){
  #contact form textarea{
    width: 600px;
  }
}

/*------------------------------------------ 
            footerここから
------------------------------------------ */

footer{
  width: 100%;
  height: 40px;
  background-color: #60BFBF;
  text-align: center;
  line-height: 40px;

}